<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Cold cost:</strong>
  <%= @item.cold_cost %>
</p>

<p>
  <strong>New cost:</strong>
  <%= @item.new_cost %>
</p>
<p>
  <strong>Unit:</strong>
  <%= @item.unit %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
